* {
    background: #131318;
    background-alt: #0d0e13;
    selected-background: #131318;
    border: #bdc2ff;
    default: #bdc2ff;
    default-alt: #3c4279;
    text: #e4e1e9;
    selected-text: #545a92;
}