* {
    background: #111318;
    background-alt: #0c0e13;
    selected-background: #111318;
    border: #aac7ff;
    default: #aac7ff;
    default-alt: #274777;
    text: #e2e2e9;
    selected-text: #415f91;
}