* {
    background: #151218;
    background-alt: #100d12;
    selected-background: #151218;
    border: #d6bbfb;
    default: #d6bbfb;
    default-alt: #523c73;
    text: #e7e0e8;
    selected-text: #6b538c;
}