body.matugen-dark {
    --text-default: #cdd6f4;
    --text-secondary: #bac2de;
    --text-tertiary: {{colors.surface_container_highest.dark.rgba}};
  
    --background: {{colors.background.dark.rgba}};
    --background-darker: {{colors.surface_container.dark.rgba}};
    --background-lighter: {{colors.surface_container_high.dark.rgba}};
    --body-background: {{colors.background.dark.rgba}};
    --gradient-body-background: {{colors.background.dark.rgba}};
    --input-background: {{colors.surface_container_high.dark.rgba}};
    --controller-hints-background: transparent;
    --current-background: {{colors.background.dark.rgba}};
    --modal-background: {{colors.surface_container_highest.dark.rgba}};
    --modal-border: {{colors.on_primary_fixed_variant.dark.hex}};
    --osk-background: {{colors.background.dark.rgba}};
    --osk-button-background: {{colors.surface_container_high.dark.rgba}};
    --osk-button-border: {{colors.surface_container_highest.dark.rgba}};
    --search-bar-background: {{colors.surface_container_high.dark.rgba}};
    --search-bar-border: {{colors.surface_container_high.dark.rgba}};
  
    --action-icon: #cdd6f4;
    --action-icon-hover: #cba6f7; 
    --action-icon-active: {{colors.on_primary_fixed_variant.dark.hex}};
    --icons-background: {{colors.background.dark.rgba}};
  
    --primary-button: {{colors.on_primary_fixed_variant.dark.hex}};
    --primary-button-overlay: {{colors.on_secondary_fixed_variant.dark.hex}};
    --secondary-button: #cba6f7;
    --secondary-button-overlay: #f5c2e7;
    --tertiary-button: #f9e2af;
    --tertiary-button-overlay: #fab387;
    --success-button: {{colors.on_secondary_container.dark.hex}};
    --disabled-button: {{colors.surface_container.dark.rgba}};
    --disabled-button-overlay: {{colors.surface_container_highest.dark.rgba}};
  
    --navbar-active: {{colors.on_primary_fixed_variant.dark.hex}};
    --navbar-inactive: #cdd6f4;
    --navbar-active-background: {{colors.surface_container_high.dark.rgba}};
    --navbar-accent: #cba6f7;
    --navbar-background: {{colors.surface_container.dark.rgba}};
    --divider: {{colors.surface_container.dark.rgba}};
  
    --success: {{colors.on_secondary_container.dark.hex}};
    --success-hover: #94e2d5;
    --danger: #f9e2af;
    --danger-hover: #fab387;
  
    --primary: {{colors.on_primary_fixed_variant.dark.hex}};
    --secondary: #cba6f7;
    --accent: {{colors.on_primary_fixed_variant.dark.hex}};
  
    --status-success: {{colors.on_secondary_container.dark.hex}};
    --status-warning: #f9e2af;
    --status-danger: {{colors.error.dark.hex}};
    --status-info: {{colors.on_primary_fixed_variant.dark.hex}};
  
    --neutral-01: {{colors.surface_container_highest.dark.rgba}};
    --neutral-02: {{colors.background.dark.rgba}};
    --neutral-03: {{colors.surface_container_high.dark.rgba}};
    --neutral-04: #6c7086;
    --neutral-05: #a6adc8;
    --neutral-06: #cdd6f4;
  }
  
  body.matugen-dark select,
  body.matugen-dark input {
    box-shadow: none !important;
  }