#bluetooth {
    color: @surface_bright;
    margin-right: 10px;
    border-left: 0px;
    border-right: 0px;
}

#wireplumber {
    color: @tertiary;
    margin-right: 10px;
    border-left: 0px;
    border-right: 0px;
}

#custom-brightness {
    color: @tertiary;
    margin-right: 10px;
    border-left: 0px;
    border-right: 0px;
}

#custom-script {
    color: @tertiary;
    margin-right: 10px;
    border-left: 0px;
    border-right: 0px;
}
