#custom-powermenu {
    color: @surface_bright;
    margin-right: 10px;
    margin-left: 10px;
}

#bluetooth.off {
    color: @surface_bright;
    margin-right: 10px;
    margin-left: 10px;
}

#bluetooth.on {
    color: @surface_tint;
    margin-right: 10px;
    margin-left: 10px;
}

#bluetooth.connected {
    color: @tertiary;
    margin-right: 10px;
    margin-left: 10px;
}

#bluetooth.connected #wireplumber {
    color: @tertiary;
    margin-right: 10px;
}
