
#custom-hyprpicker {
    color: @surface_tint;
    margin-left: 5px;
    border-left: 0px;
    border-right: 0px;
}

#clock {
    color: @surface_tint;
    margin-left: 0px;
    margin-right: 10px;
    border-right: 0px;
}